body{
    background-color:white;
    margin:0px 200px;
    word-wrap:break-word;
    font-family: sans-serif;
}
table, td{
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
    font-size: 100%;    
    font-family: sans-serif;       
}
li{
}
.large{
    font-size: 125%;
}   

td.b{
    font-size: normal;  
}
span.xl{
    font-size: x-large;
}
span.l{
    font-size: large;
}
span.sudoku{
    font-family: "Courier New", Courier, monospace
}
img {
    vertical-align: middle;
}
div.sudoku{
	float: left;
	padding-right: 50px;
}    
div{
	clear:left;
}
img.standard{
    height: 300px;
}

.ta{
    width: 50%;
    height: 100px;
}
td.red{
    background-color: lightgrey;
}    
