<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="../static/style-iprimus.css">
<script src="../static/data.js"></script>
<script>
var list = [4,3,5,6,9,'4b'];
</script>
</head>

<body onload=home(list)>
<center>
    <span class=xl>
    {{ title }}<br>
    <img id=mascot src="static/no_mascot.jpe" alt="" style="height:120px;">
    </span><br>
</center><p>

<span class=link onclick=home(list)>[Home]</span>
<span class=link onclick=home([11])>[Contact]</span>
<p>
<div id=main> </div>
<div id=ans></div>

Powered by <a href=https://www.python.org>Python</a><p>
</body>
</html>

